<html xmlns:th="https://www.thymeleaf.org">
<head>
	<title>Super Spy App</title>
	<meta charset="ISO-8859-1">
	<style>
		body{
			margin: 0px;
		}
		.nav{
			height: 8%;
			width:100%;
			background:teal;
			display:flex;
			align-items:center;
			justify-content:center;
		}
		.center{
			text-align:center;
		}
	</style>
</head>
<body>
	<div class="nav">
		<div th:if="${session.auth!='authorized'}">
			<form action="#" th:action="@{/startSession}" method="POST">
				<input type="submit" value="Start Session" >
			</form>
		</div>
		<div th:unless="${session.auth!='authorized'}">
			<form action="#" th:action="@{/destroySession}" method="POST">
				<input type="submit" value="End Session" >
			</form>
		</div>
	</div>
	
	<div class="center" th:if="${session.auth!='authorized'}">
		<h2>Start a session to work with the App!</h2>
	</div>
	<div class="center" th:unless="${session.auth!='authorized'}">
		<h2 th:text="|You are ${session.auth}! &#128526; &#9989;|"></h2>
	</div>
	
	<div th:if="${session.auth=='authorized'}">
	<h1>Our Super Cool Spy App</h1>
	<h2>Create a Mission</h2>
	<a href="/addMission">
		<button>Create a Mission</button>
	</a>
	<h2>View Missions for</h2>
	<form method="GET" action="/viewMission" th:action="@{/viewMission}">
		<select name="agent">
			<option th:each="agent : ${agents}" value="${agent.agent}" th:text="${agent.agent}" th:value="${agent.agent}"></option>
		</select>
		<input type="submit" value="Go" />
	</form>
	</div>
</body>
</html>